<div class="row">
    <div class="col-xs-2">
        <a target="_blank" href="#">
            <img alt="maden_tel_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/tel.png" alt="Telefon"/>
        </a>
    </div>
    <div class="col-xs-2">
        <a target="_blank" href="#">
            <img alt="maden_adres_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/adres.png" alt="Adres"/>
        </a>
    </div>
    <div class="col-xs-2">
        <a target="_blank" href="#">
            <img alt="maden_mail_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/mail.png" alt="Mail"/>
        </a>
    </div>
    <div class="col-xs-2">
        <a target="_blank" href="https://facebook.com/">
            <img alt="maden_face_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/face.png" alt="Facebook"/>
        </a>
    </div>
    <div class="col-xs-2">
        <a target="_blank" href="#">
            <img alt="maden_ins_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/ins.png" alt="Instagram"/>
        </a>
    </div>
    <div class="col-xs-2">
        <a target="_blank" href="#">
            <img alt="maden_gplus_icon" style="width: 100%" src="<?php echo $this->webroot;?>img/shareicon/gog.png" alt="Google Plus"/>
        </a>
    </div>
</div>
<!--<div class="row">-->
<!--    <div class="col-xs-6">-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="#">-->
<!--                <img alt="maden_tel_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/tel.png" alt="Telefon"/>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="#">-->
<!--                <img alt="maden_adres_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/adres.png" alt="Adres"/>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="#">-->
<!--                <img alt="maden_mail_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/mail.png" alt="Mail"/>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xs-6 text-right">-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="https://facebook.com/">-->
<!--                <img alt="maden_face_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/face.png" alt="Facebook"/>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="#">-->
<!--                <img alt="maden_ins_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/ins.png" alt="Instagram"/>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="divYan">-->
<!--            <a target="_blank" href="#">-->
<!--                <img alt="maden_gplus_icon" style="width: 100%" src="--><?php //echo $this->webroot;?><!--img/shareicon/gog.png" alt="Google Plus"/>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->