/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.Tem.2015, 16:19:03
    Author     : kaantunc
*/
@font-face {
    font-family: KesifFont;
    src: url('../font/kesif.TTF');
}

body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.btn{
    font-family: KesifFont;
}
body{
-webkit-background-image: url('../img/back.png');
    -moz-background-image: url('../img/back.png');
    -o-background-image: url('../img/back.png');
    background-image: url('../img/back.png');
    background-repeat: auto;
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;*/
    background-position: center center;
}
img.indexpng{width:100%;cursor:pointer;}
.row>.padPNG{padding:5px;}
.padPNGic{padding: 2px 0;}
.btn-maden{
	color: #fff;
    background-color: #10293d;
    border-color: #fff;
	}
.btn-maden:hover,.btn-maden:active,.btn-maden:focus{
	color: #fff;
	background-color: #10293d;
	border-color: #fff;
}
.kback{
    -webkit-background-color: #E5097F;
    -moz-background-color:#E5097F;
    -o-background-color: #E5097F;
    background-color: #E5097F;
}
.aback{
    -webkit-background-color: #EF7F1A;
    -moz-background-color:#EF7F1A;
    -o-background-color: #EF7F1A;
    background-color: #EF7F1A;
}
.iback{
    -webkit-background-color: #00A0E3;
    -moz-background-color:#00A0E3;
    -o-background-color: #00A0E3;
    background-color: #00A0E3;
}
.kurback{
    -webkit-background-image: url('../img/kurback.png');
    -moz-background-image: url('../img/kurback.png');
    -o-background-image: url('../img/kurback.png');
    background-image: url('../img/kurback.png');
}
.kback, .aback, .iback, .kurback {
    background-repeat: auto;
    background-position: center center;
	padding-top:10px;
}
.aramaclass.kback, .aramaclass.aback, .aramaclass.iback, .aramaclass.kurback{
	padding-left: 10px;
	padding-right: 10px;
}
.bg-white{background-color: #ffffff;}
.container{
    padding-left:10%;
    padding-right:10%;
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}
.container-fluid-main{
    margin-right: auto;
    margin-left: auto;
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-left: 0;
    padding-right: 0;
}
.container-body {
    padding-top: 25px;
    padding-bottom: 25px;
}
.borderRadius{
    border-radius: 15px;
}
.bg-white {
    background-color: #ffffff;
}
.map-ilan-img img{
   height: 200px;
    max-width: 100%;
}
.anaDiv{
	display:inline-block;
	width:99%;
	padding:5px 0;
}
.anaDivMap{
    display:inline-block;
    width:99%;
    padding:5px 0;
}
.anaDiv100{
	display:inline-block;
	width:100%;
	padding:0;
}
.anaDivFlex{
	display:inline-flex;
	width:99%;
	padding:5px 0;
}
.anaDivMapFlex{
    display:inline-flex;
    width:99%;
    padding:5px 0;
}
.divBorder{
	border: 1px solid #1C617C;;
	width:99%;
}
.divPadTopBot{
	display:inline-block;
	width:100%;
	padding:10px 0;
}
.div100{display:inline-block;width:99%;}.div95{display:inline-block;width:94%;}
.div90{display:inline-block;width:89%;}.div85{display:inline-block;width:84%;}
.div80{display:inline-block;width:79%;}.div75{display:inline-block;width:74%;}
.div70{display:inline-block;width:69%;}.div65{display:inline-block;width:64%;}
.div60{display:inline-block;width:59%;}.div55{display:inline-block;width:54%;}
.div50{display:inline-block;width:49%;}.div45{display:inline-block;width:44%;}
.div40{display:inline-block;width:39%;}.div35{display:inline-block;width:34%;}
.div30{display:inline-block;width:29%;}.div25{display:inline-block;width:24%;}
.div20{display:inline-block;width:19%;}.div15{display:inline-block;width:14%;}
.div10{display:inline-block;width:9%;}.div5{display:inline-block;width:4%;}
.divYan{display:inline-block;margin:2px;}
.inputW95 {width:95%;max-width:95%;}
.inputW90 {width:90%;max-width:90%;}
.inputW50 {width:50%;max-width:50%;}
.fRight{float: right;}.fLeft{float: left;}
.font10{font-size: 10px;}
.font14{font-size: 14px;}.font15{font-size: 15px;}.font16{font-size: 16px;}.font18{font-size: 18px;}.font20{font-size: 20px}.font22{font-size: 22px;}.font24{font-size: 24px}
.fontBold{font-weight: bold;}.fontItalic{font-style: italic;}
.container100{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.text-white{color:#ffffff;}
blockquote{
    padding: 5px 0;
    border: none;
}
.indeximg{
    width: 50%;
}
.BackBaslik{
    background-color: rgba(220,78,65,0.10);
    padding: 8px;
    /*border-radius: 5px;*/
}
.ilanIcerik{
    margin-top:10px;
    margin-bottom:10px;
}
.ilanIcerik,
.ilanIcerik iframe,
.ilanIcerik table{
    max-width: 100%;
}
.panel{margin-bottom: 5px;}.panel-heading{padding: 5px 5px;}.panel-title,.panel-body{font-size:14px;}.panel-body{padding: 5px;}
.stmenuIcon{
    height: 40px; max-width: 100%;
}
.iletIcon{width: 52px;}
.IlanShareIcon{
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1050;
}
.IlanSatKir{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1050;
}
.DeleteIcon{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1050;
}
.IlanVideoIcon{
     bottom: 0;
     left: 0;
     position: absolute;
     z-index: 1050;
 }
.IlanIletIcon{
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1050;
}
.MenuIcon{
    height:30px;
    cursor: pointer;
    /*width: 30px;*/
}
.ShareIcon{
    height:40px;
    cursor: pointer;
    /*width: 30px;*/
}
.st-menu ul li a span.valign{
    vertical-align: text-top;
}
.imgspanwidth{
    width: 45px;
    display: inline-block;
}
.imgHome{
    height: 153px;
    max-width: 100%;
    margin-top: 10px;
	border-radius: 10px;
}
.MapDircetioIcon{  width: 55px; }
.badge{font-weight: bold; background-color: #FFFEFE; color:#D73814}
.pMarBot2{margin-bottom:2px;}
.MarTop5{margin-top:5px;}
.aramaMarTop10{margin-top:10px;}
.imgIcerik
{
    /*height: 400px;*/
    max-width: 100%;
    width: 100%;
    border-radius: 15px;
}
.FlickIndex{ width: 720px; height: 390px; margin-right: auto; margin-left:auto;}
.FlickIndex img {width: 720px; height: 390px;}
.FlickPadLR{  display: inline-block;  }
.flickerplate.flickCSS{
    height: auto;
    /*max-width: 100%;*/
    width: 100%;
}
.flickerplate{  background: transparent;  }
.iconHome{
    height: 85px;
    max-width: 100%;
}
.row{
    margin:0;
}
.linkHome{  padding-top: 1%;  }
.MenuLink{
    color: #f0f0f0;
    border:2px solid #282828;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 9px 16px;
    position: relative;
}
.MenuLink:hover,
.MenuLink:focus,
.MenuLink:active{
    background-color: #f0f0f0;
    color: #282828;
    border:2px solid #f0f0f0;
}
.map-ilan-img>.bx-wrapper .bx-prev{  left: 0;  }
.gmap{
    height: 400px;
    width: 100%;
}
.mapcanvas{
    width: 100%;
    height: 300px;
}
.mapContent{
    /*width:98.5%;*/
    width: 100%;
    padding:5px 0;
    /*margin: 5px;*/
    display: none;
    background-color: rgba(256, 256, 256, 1);
    border-radius: 5px;
    position: absolute;
    top:0;
}
.mapContent > div{  padding: 0px 5px;  }
.mapContent>.div40{  width: 52%;  }
.mapContent>.div60{  width: 47%;  }
.text-black{  color: #000000;  }
.bg-acikmavi{  background-color: rgba(69, 130, 236, 0.25);  }
.mapIcon{width: 100%; margin-top: 5px;cursor: pointer;}
.inputM{  height: 41px;  }
.pac-container{  z-index: 1200;  }
.iletFont{  font-size: 16px;  }
hr{
margin-top: 0;
margin-bottom: 4px;
}
.form-control::-moz-placeholder {
  color: #888888;
  opacity: 0.40;
  font-style: italic;
  font-weight: bold;
}
.form-control:-ms-input-placeholder {  color: #888888;  }
.form-control::-webkit-input-placeholder {  color: #888888;  }
ul.bsub{  width: 100%;  }
.st-menu ul.bsub>li>a{  background-color: #8C8C8C;  }
.st-menu ul.bsub>li>a:hover{  background-color: #10293D;  }
.fixed-bottom{
    position: fixed;
    /*right: 0;*/
    left: 0;
    top:100px;
    z-index: 1030;
}
.mapH1{font-size:23px;}
.mapHNo{font-size:24px;}
.mapHalt{font-size: 20px;}
.logo{width: 52%; cursor: pointer;}
.menupng {width: 10%;cursor: pointer;}

.firstpages{margin-top:12%}
.firslinksArsa{
    margin:10px auto;
    width:250px;
    padding:0 40px;
    font-size:35px;
    color:#EF7F1A;
    border-radius: 10px;
}
.firslinksKonut{
    margin:10px auto;
    width:250px;
    padding:0 40px;
    font-size:35px;
    color:#E5097F;
    border-radius: 10px;
}
.firslinksIsyeri{
    margin:10px auto;
    width:250px;
    padding:0 40px;
    font-size:35px;
    color:#00A0E3;
    border-radius: 10px;
}
.firslinksKonut a{color:#E5097F;text-decoration:none;}
.firslinksArsa a{color:#EF7F1A;text-decoration:none;}
.firslinksIsyeri a{color:#00A0E3;text-decoration:none;}

.sortslide { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortslide li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 24.5%; height: 210px; font-size: 4em; text-align: center; }
.ui-state-highlight { height: 200px; line-height: 200px; }
.sortslide li img{ cursor: pointer;}
.sortslide li img:hover{ opacity: 0.5;}
.close{opacity: 1;}
a.menulinknew{
    text-decoration: none;
    color:#ffffff;
    line-height: 46px;
    padding: 10px;
    font-size: 20px;
}
a.menulinknew:hover{
    background-color: #ffffff;
    color:#10293D;
    font-weight: bold;
}
img.indexbut{width:70%}
@media (max-width: 1199px) {
    .firstpages{margin-top:18%}
    .logo{  width: 56%;  }
    .menupng {width: 15%;}
    .mapH1{font-size:22px;}
    .mapHNo{font-size:23px;}
    .mapHalt{font-size: 19px;}
	img.indexbut{width:100%}
}
@media (max-width: 991px) {
    .FlickIndex{ width: 70%; height: auto}
    .indeximg{  width: 70%; }
    .firstpages{margin-top:18%}
    .logo{  width: 73%;  }
    .menupng {width: 15%;}
    .mapH1{font-size:19px;}
    .mapHNo{font-size:20px;}
    .mapHalt{font-size: 17px;}
    .mapIcon{width: 35px;}
    .map-ilan-img img{
        height: 175px;
    }
    .FlickPadLR{padding-right: 5%; padding-left: 5%;}
    .aramaMarTop10{margin-top:0px;}
}
@media (max-width: 873px) {
    .FlickIndex{ width: 70%; height: auto}
    .indeximg{  width: 70%; }
    .firstpages{margin-top:18%}
    .iletIcon{width: 45px;}
    .logo{  width: 70%;  }
    .menupng {width: 15%;}
    .mapH1{font-size:18px;}
    .mapHNo{font-size:19px;}
    .mapHalt{font-size: 16px;}
}
@media (max-width: 767px) {
    .sortslide li {width: 32.5%;}
    .FlickIndex{ width: 70%; height: auto}
    .indeximg{  width: 70%; }
    .firstpages{margin-top:17%}
    .iletIcon{width: 45px;}
    .logo{  width: 62%;  }
    .menupng {width: 30%;}

    blockquote{
        font-size: 15px;
    }
    .imgIcerik{
        height: auto;
        width: 100%;
        max-width: 100%;
		border-radius: 15px;
    }
	.flickerplate.flickCSS{
        height: 100%;
        max-width: 100%;
    }
    hr{
        margin-top: 1%;
    }
    .anaDivMapFlex{
	    padding:0;
    }
    .anaDivMap{
	    padding: 3px 0;
    }
    .font14{font-size: 13px;}.font15{font-size: 14px;}.font16{font-size: 15px;}.font18{font-size: 17px;}.font20{font-size: 19px}.font22{font-size: 21px;}.font24{font-size: 23px}
    .mapH1{font-size:21px;}
    .mapHNo{font-size:22px;}
    .mapHalt{font-size: 18px;}
    .mapIcon{width: 35px;}
    .map-ilan-img img{
        height: auto;
        width: 100%;
    }
    .FlickPadLR{padding-right: 5%; padding-left: 5%;}
    .ShareIcon{height: 30px;}
    .mapContent>.div40{
        width: 39%;
    }
    .mapContent>.div60{
        width: 59%;
    }
    .container-fluid-main{
        padding-left: 0;
        padding-right: 0;
    }
    .imgHome{
        height: 140px;
        max-width: 100%;
    }
}
@media (max-width: 652px) {
    .FlickIndex{ width: 100%; height: auto}
    .FlickIndex img {width: 100%; height: auto;}
    .indeximg{  width: 100%; }
    .firstpages{margin-top:19%}
    .iletIcon{width: 40px;}
    .mapH1{font-size:19px;}
    .mapHNo{font-size:20px;}
    .mapHalt{font-size: 18px;}
    .logo{  width: 62%;  }
    .menupng {width: 30%;}
    .imgHome{
        height: 140px;
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .FlickIndex{ width: 100%; height: auto}
    .firstpages{margin-top:21%}
    .indeximg{  width: 100%; }
    .iletIcon{width: 40px;}
    .logo{  width: 64%;  }
    .menupng {width: 30%;}
    .map-ilan-img img{
        height: auto;
        width: 100%;
    }
    .font14{font-size: 12px;}.font15{font-size: 13px;}.font16{font-size: 14px;}.font18{font-size: 16px;}.font20{font-size: 18px}.font22{font-size: 20px;}.font24{font-size: 22px}

    blockquote{
        margin: 10px 0;
    }
    .mapH1{font-size: 21px;}
    .mapHNo{font-size:22px;}
    .mapHalt{font-size: 20px;}
    .anaDivMapFlex{
        padding:0;
    }
    .anaDivMap{
        padding: 3px 0;
    }
    .mapIcon{width: 35px;}
    .FlickPadLR{padding: 0;}
    .imgHome{
        height: 140px;
        max-width: 100%;
    }
}
@media (max-width: 550px) {
    .sortslide li {width: 49%;}
    .firstpages{margin-top:23%}
    .iletIcon{width: 40px;}
    .indeximg{  width: 100%; }
    .logo{  width: 72%;  }
    .menupng {width: 40%;}
    .imgHome{
        height: 140px;
        max-width: 100%;
    }
}
@media (max-width: 476px) {
	.row>.padPNG{padding:2px;}
    .FlickIndex{ width: 100%; height: auto}
    .firstpages{margin-top:25%}
    .container{padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px;}
    
    .container-body{padding-bottom: 15px; padding-top: 15px;}
    .iletIcon{width: 35px;}
    .menupng{width:60px;}
    .map-ilan-img img{
        height: auto;
        width: 100%;
    }
    .logo{  width: 66%;  }
    .menupng {width: 40%;}
    .imgHome{
        height: 120px;
        max-width: 100%;
        margin-top: 0;
    }
    blockquote{  font-size: 11px;  }
    .imgIcerik
	{
        height: auto;
        width: 100%;
        max-width: 100%;
		border-radius: 15px;
    }
    .row{  margin: 0px;  }
    .linkHome{  padding-top: 2%;  }
    .MenuLink{  padding: 8px 8px;  }
    .iletFont{  font-size: 15px;  }
    .iconHome{  height: 80px;  }
    hr{  margin-top: 2%;  }
    .anaDivMapFlex{  padding:0;  }
    .font14{font-size: 11px;}.font15{font-size: 12px;}.font16{font-size: 13px;}.font18{font-size: 15px;}.font20{font-size: 17px}.font22{font-size: 19px;}.font24{font-size: 21px}
    .h3,.h4,.h5,.h6{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .h3{  font-size: 20px;  }
    .anaDivMap{  padding: 3px 0;  }
    .mapH1{font-size: 16px;}
    .mapHNo{font-size:17px;}
    .mapHalt{font-size: 15px;}
    .fixed-bottom{left:0;}
    .mapIcon{width: 35px;}
    .gmap{height: 300px;}
    .FlickPadLR{padding: 0;}
    .MapDircetioIcon{  width: 40px;  }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-right: 5px; padding-left: 5px;}
}
@media (max-width: 380px) {
    .FlickIndex{ width: 100%; height: auto}
    .firstpages{margin-top:32%}
    .container{padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 5px;}
    
    .iletIcon{width: 35px;}
    .map-ilan-img img{
        height: auto;
        width: 100%;
    }
    .mapIcon{width: 35px;}
    .logo{  width: 70%;  }
    .menupng {width: 40%;}
    .font14{font-size: 9px;}.font15{font-size: 10px;}.font16{font-size: 11px;}.font18{font-size: 13px;}.font20{font-size: 15px}.font22{font-size: 18px;}.font24{font-size: 19px}
    .anaDivMap{
        padding: 0;
    }
    .mapH1{font-size: 14px;}
    .mapHNo{font-size:15px;}
    .mapHalt{font-size: 13px;}
    .FlickPadLR{padding: 0;}
    .st-menu ul li a{padding: 6px 16px;}
}
@media (max-width: 344px) {
    .firstpages{margin-top:40%}
    .container{padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 10px;}
    
    .iletIcon{width: 30px;}
    .mapIcon{width: 30px;}
    .logo{  width: 86%;  }
    .menupng {width: 45%;}
    .FlickPadLR{padding: 0;}
    .MenuIcon{height: 20px;}
    .st-menu ul.bLi>li>a{padding: 6px 16px;}
    .stmenuIcon{height: 30px;}
    .mapH1{font-size: 13px;}
    .mapHNo{font-size:14px;}
    .mapHalt{font-size: 12px;}
}
.btn-gray{
	background-color: #808080;
    box-shadow: 0 0 0 1px #4e4e50 inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 8px 0 0 #4e4e50, 0 8px 8px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.btn3d.btn-gray:active, .btn3d.btn-gray.active{
    box-shadow: 0 0 0 1px #808080 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
}

.thumb{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
}

.thumb ul {
    list-style: outside none none;
}
.thumb ul>li{
    padding: 5px 0px;
}

.borderBottom{
    border-bottom: #282828 solid 1px;
}
.printwidth,.ilanaciklama{}
@media print {
    .kback,
    .aback,
    .iback,
    .kurback,
    .container-body,
    .container {background-color: #ffffff; background-image: none; color: #000000;}
	
	.printwidth{ padding: 0 15%;}
	.h3, h1,h2,h3,h4,h5{font-size: 18px; margin-top: 0px; margin-bottom: 0px;}
	.h6, h6{font-size: 12px; margin-top: 0px; margin-bottom: 0px;}
	.font16{font-size: 10px;}
	body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
	body {font-size: 10px; }
	.ilanaciklama, .ilanaciklama h1, .ilanaciklama h2, .ilanaciklama h3, .ilanaciklama h3, .ilanaciklama h4, .ilanaciklama h5, 
	.ilanaciklama h6 { font-weight: lighter;}
}

.ilandanismanresim{
    height: 200px;
    width: auto;
}

.danismaniletisim button{
    margin: 2px;
}