<div class="text-white">
<div class="aback">
    <h3 class="text-white text-center">ARSA</h3>
    <div class="firstpages text-center">
        <div class="bg-white text-center firslinksArsa"><a href="<?php echo $this->Html->url('/');?>arama/tip:3/satkir:2">KİRALIK</a></div>
        <div class="bg-white text-center firslinksArsa"><a href="<?php echo $this->Html->url('/');?>arama/tip:3/satkir:1">SATILIK</a></div>
    </div>
	</div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        $('div.aback').css('min-height',$('div.container100').height()*0.85);
		$('div.firstpages').css('margin-top',$('div.container100').height()*0.25);
    });
</script>