<?php
/**
 *
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

//$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
?>
<!DOCTYPE html>
<html lang="tr-TR">
<head>
	<?php echo $this->Html->charset(); 
                echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
    ?>
    
    <meta name="description" content="Satılık, kiralık, konut, işyeri, arsa yatırım ve yönetimi - Mutlu Kazanç Kapısı..." />
    <meta name="keywords" content="Eskişehir Yolu satılık yatırım arsaları, Temelli, Malıköy, Ihlamurkent satılık villa, Alcı, Türkobası, Anayurt, Bacı, Başkent OSB, kiralık fabrika, Anadolu OSB, ASO 2 OSB, Konutkent, Çayyolu, Kuleevo, Elmar Towers, Elya Tower, Azel Kule" />
    <!-- <meta name="robots" content="index, follow" /> -->
    <meta name="rating" content="All" />
    <meta name="copyright" content="www.batikapigayrimenkul.com" />
    <meta name="author" content="Soner HAYIRLI" />
    <?php echo HtmlMetaComponent::elements(); ?>
    
	<title>
            <?php
            if($this->Html->request->domain() == 'sonerhayirli.com'){
               echo 'SONER HAYIRLI - Soner Hayırlı';
            }else{
               echo 'KEŞİF Gayrimenkul A.Ş.';
            }
            ?>
	</title>
        <link rel="icon" type="image/x-icon" href="<?php echo $this->Html->url('/');?>img/shareicon/mana.png">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->Html->url('/');?>img/shareicon/mana.png">
        <link hreflang="tr">
	<?php
    echo $this->Html->css('bootsrap-readable.min');
    echo $this->Html->css('font-awesome.min');
    echo $this->Html->css('batikapi');
    echo $this->Html->script('jquery-1.11.min');
    echo $this->Html->script('bootstrap.min');
	?>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54851674-3', 'auto');
  ga('send', 'pageview');

</script>
    <?php echo $this->element('VideoModal'); ?>
<div class="container100">
    <div id="st-container" class="st-container st-effect-11">
    <?php echo $this->element('menu');?>
        <div class="st-pusher">
            <div class="st-content"><!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <div class="main clearfix">
                        <div id="content">
                            <div class="row" id="LogoBaslik" style="margin-top:5px;margin-bottom:5px">
                                <div class="col-xs-4 col-sm-1 text-left">
                                    <span id="st-trigger-effects">
                                        <button data-effect="st-effect-11" type="button" class="btn btn-danger btn-xs"><i class="fa fa-2x fa-bars"></i></button>
                                    </span>
                                </div>
                                <div class="hidden-xs col-sm-8 col-md-8">
                                    <form id="mapTextForm" action="<?php echo $this->Html->url(NULL,true);?>" method="POST">
                                        <div class="form-group" style="margin-bottom: 0;">
                                            <div class="input-group">
                                                <input style="z-index: 0;" class="form-control inputM" type="search" name="mapIlan" placeholder="Kelime veya İlan No Arayın" value="<?php echo isset($mapIlan)?$mapIlan:''; ?>">
                                                <span class="input-group-addon" style="padding: 0;"><img onclick="$('#mapTextForm').submit();" class="inputM" src="<?php echo $this->Html->url('/');?>img/kel45.png"/></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xs-8 col-sm-3 col-md-3 text-right">
                                    <img alt="batikapigayrimenkul_logo" src="<?php echo $this->Html->url('/');?>img/logo.png" class="logo" onclick="window.location.href='<?php echo $this->Html->url('/');?>'"/>
                                </div>
                            </div>
                            <!-- <div class="row"><hr></div> -->
                            <?php echo $this->Session->flash(); ?>
                            <?php echo $this->fetch('content'); ?>
                        </div>
                         <div id="footer" style="color: #FFFFFF">
                            <?php //echo $this->element('iletisim');?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <?php
    echo $this->element('TelModal');
    echo $this->element('UyariModal');
    echo $this->element('mapText');
    echo $this->element('detSearch');
    echo $this->element('LoadModal');
    echo $this->element('ShareIlanModal');
    echo $this->element('IlanTelModal');
    echo $this->element('IlanAdresModal');
    echo $this->element('IlanMailModal');
    echo $this->element('YorumModal');
    //echo $this->element('VideoModal');
    echo $this->element('loader');
    ?>
    <?php // echo $this->element('sql_dump'); ?>
<?php
echo $this->Html->script('menu/classie.min');
echo $this->Html->script('menu/sidebarEffects.min');
echo $this->Html->script('blockUI');
?>
<script type="text/javascript">
$(document).ready(function(){
	$('body,body>div.container,div.st-container').css('min-height',$(window).height());
});

    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (!(charCode == 8
                || (charCode >= 35 && charCode <= 40)
                || (charCode >= 48 && charCode <= 57)
            )){
            return false;
        }

        return true;
    }

function checkemail(str){
    var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    if (filter.test(str))
        return true;
    else{
        return false;
    }
}
</script>
</body>
</html>