<div class="text-white ">
<div class="iback">
    <h3 class="text-white text-center">İŞYERİ</h3>
    <div class="firstpages text-center">
        <div class="bg-white text-center firslinksIsyeri"><a href="<?php echo $this->Html->url('/');?>arama/tip:2/satkir:2">KİRALIK</a></div>
        <div class="bg-white text-center firslinksIsyeri"><a href="<?php echo $this->Html->url('/');?>arama/tip:2/satkir:1">SATILIK</a></div>
    </div>
	</div>
</div>
<script type="text/javascript">
     $(window).load(function(){
        $('div.iback').css('min-height',$('div.container100').height()*0.85);
		$('div.firstpages').css('margin-top',$('div.container100').height()*0.25);
    });
</script>