<tr>
    <td>Emlak Tipi</td>
    <td>Konut</td>
</tr>
<?php
$konArr = array('tarih'=>'İlan Tarihi','oda_sayisi'=>'Oda Sayisi','m_kare'=>'m<sup>2</sup>',
    'bina_kat'=>'Toplam Kat','kat'=>'Bulunduğu Kat','kredi'=>'Krediye Uygunluk');
foreach($konArr as $key=>$val){
    if(!empty($data[$key])){
        echo '<tr>';
        echo '<td>'.$val.'</td>';
        echo '<td>'.$data[$key].'</td>';
        echo '</tr>';
    }
}
?>