<div class="row">
    <div class="col-xs-12 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/pkd.png" class="indexpng"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/ki.png"  class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>konutindex'"/>
    </div>
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/ai.png" class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>arsaindex'"/>
    </div>
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/isi.png" class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>isyeriindex'"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/dai.png" class="indexpng"/>
    </div>
    <div class="col-xs-8 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/kuri.png" class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>kurumsal'"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/ii.png" class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>iletisim'"/>
    </div>
    <div class="col-xs-4 padPNG">
        <div class="row padPNGic">
            <img src="<?php echo $this->webroot; ?>img/anasayfa/hi.png" class="indexpng" onclick="window.location.href='<?php echo $this->Html->url('/'); ?>habers/home'"/>
        </div>
        <div class="row padPNGic">
            <img src="<?php echo $this->webroot; ?>img/anasayfa/bki.png" class="indexpng"/>
        </div>
    </div>
    <div class="col-xs-4 padPNG">
        <img src="<?php echo $this->webroot; ?>img/anasayfa/di.png" class="indexpng"/>
    </div>
</div>
<?php
//echo $this->Html->script('imageMapResizer.min');
?>
<script type="text/javascript">
    $(document).ready(function(){
        //$('map[name="indexMap"]').imageMapResize();
        
    });
</script>
